@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
    font-family: "Source Sans 3", sans-serif;
  }

  input,
  select,
  textarea {
    @apply bg-slate-950/40 border border-slate-700/70 text-slate-100 placeholder:text-slate-500 rounded-2xl;
  }

  table {
    @apply text-slate-200;
  }

  thead {
    @apply bg-slate-900/60;
  }

  th {
    @apply text-slate-400;
  }

  tbody tr {
    @apply border-b border-slate-800/60;
  }
}
